@import url("https://fonts.googleapis.com/css?family=Montserrat:300,700&display=swap");
body, html {
  margin: 0;
}

body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  display: none;
}

header {
  position: absolute;
  padding: 1em;
  z-index: 20;
  font-size: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 2em);
  background: #fff;
}

header .logo {
  font-weight: bold;
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  color: black;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

header nav ul li a {
  padding: 1em;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.wrapper section {
  padding: 3em;
}

.wrapper section h1, .wrapper section h2, .wrapper section .read-btn {
  text-transform: uppercase;
  margin: 0;
}

.wrapper section h2 {
  font-size: 1.4rem;
}

.wrapper section .clipper {
  overflow: hidden;
}

.wrapper section.hero {
  padding-top: 8em;
  background: url("../img/hero.jpg");
  background-size: cover;
  color: #fff;
}

.wrapper section.hero blockquote {
  margin: 0;
  padding: 0;
}

.wrapper section.hero blockquote h1 {
  font-size: .75em;
}

.wrapper section.hero blockquote p {
  width: 70%;
  font-size: .8rem;
  font-weight: 600;
}

.wrapper section.about, .wrapper section.subscribe {
  font-size: .9rem;
  line-height: 1.6em;
}

.wrapper section.about {
  background: #C48B91;
  color: #fff;
}

.wrapper section.about .read-btn {
  text-decoration: none;
  color: #C48B91;
  font-weight: bold;
  padding: .5em;
  display: inline-block;
  border-radius: 5px;
  background-color: #fff;
}

.wrapper section.subscribe input {
  width: calc(100% - 2em);
  padding: 1em;
  font-family: 'Montserrat';
  margin-bottom: 1em;
}

.wrapper section.subscribe button {
  width: 100%;
  background: #C48B91;
  color: #fff;
  padding: 1em;
  border: none;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
  header {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1020px) {
  header {
    background: none;
  }
  .wrapper {
    -ms-grid-columns: 70% auto;
        grid-template-columns: 70% auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "hero about" "hero subscribe";
    height: 100vh;
  }
  section.hero {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: hero;
    background-size: cover;
  }
  section.hero h1 {
    font-size: 2.4em;
  }
  section.hero p {
    width: 70%;
    font-size: 1em;
  }
  section {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 21px;
  }
}
/*# sourceMappingURL=main.css.map */